# Dependencias completas para desarrollo local
Django==5.1.3
Pillow==11.0.0
asgiref==3.8.1
sqlparse==0.5.1
tzdata==2024.2
pytz==2024.2
reportlab==4.2.5
chardet==5.2.0
dj-database-url==2.1.0
typing_extensions==4.14.1
